@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background: #f0f5f6;
}

@media (prefers-color-scheme: dark) {
  * {
    color-scheme: dark;
  }
  body {
    background: #111827;
  }
}