@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  background: #f0f5f6;
  @apply h-screen;
  /*background: #eee;*/
}

@media (prefers-color-scheme: dark) {
  * {
    color-scheme: dark;
  }
  body {
    background: black;
  }
}